<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenance Tracker</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav" id="topnav">
        <a href="index.html">Maintenance Tracker</a>
        <a class="active" href="">Home</a>
            
        <div class="right">
            <button class="fa fa-sign-out" onclick="logout()"></button>
        </div>
        <a href="javascript:void(0);" class="nav-icon" onclick="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="content">
        <p class="welcome"> Admin dashboard </p>
        <div class="table">
            <table id="admin-table">
                <caption>All historical maintenance requests
                    <div>Search Table:
                        <input type="search" name="search" id="search" placeholder="Input search phrase">
                        <!-- <select name="category" id="category">
                            <option value="">All</option>
                            <option value="">Pending Approval</option>
                            <option value="">Approved</option>
                            <option value="">Ongoing</option>
                            <option value="">Resolved</option>
                            <option value="">Archived</option>
                            <option value="">Maintenance</option>
                            <option value="">Repairs</option>
                        </select> -->
                    </div>
                </caption>
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Date Requested</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <br>
        </div>
    </div>
    
    <footer class="footer">
        <p>Maintenance Tracker © 2018 John Musiu</p>
    </footer>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/build/adminDashboard.js"></script>

</body>
</html>