<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenance Tracker</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav" id="topnav">
        <a href="index.html">Maintenance Tracker</a>
        <a class="active" href="home-user.html">Home</a>
        <a id="request-form" href="javascript:void(0);">Make Request</a>
            
        <div class="right">
            <button class="fa fa-sign-out" onclick="logout()"></button>
        </div>
        <a href="javascript:void(0);" class="nav-icon" onclick="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="content">
        <p class="welcome"> Welcome to your dashboard </p>
        <div class="hide-form" id="add-request">
            <form id="request-form" action="" method="post">
                <h3>Create new maintenance request</h3>
                <!-- title -->
                <label for="title"><b>Title</b></label> <br>
                <input type="text" name="title" id="title" placeholder="Enter request title" required>    
                
                <!-- description -->
                <label for="description"><b>Description</b></label>
                <textarea type="text" name="description" id="description" placeholder="Enter a description" required>
                </textarea>

                <!-- type of request -->
                <label for="type"><b>Type of Request</b></label> <br>
                <input type="radio" name="type" id="type" value="Maintenance">Maintenance <br>
                <input type="radio" name="type" id="type" value="Repair">Repair

                <!-- submit -->
                <button type="submit" class="btn-signup" id="submit-request">Submit Request</button>
                <br>
            </form>
            <hr>
        </div>

        <div class="hide-form" id="edit-request">
            <form id="edit-request-form" action="" method="post">
                <input id="edit-id" type="text" style="visibility: hidden;">
                <h3>Edit maintenance request</h3>
                <!-- title -->
                <label for="title"><b>Title</b></label> <br>
                <input type="text" name="title" id="edit-title" placeholder="Enter request title" required>    
                
                <!-- description -->
                <label for="description"><b>Description</b></label>
                <textarea type="text" name="description" id="edit-description" placeholder="Enter a description" required>
                </textarea>

                <!-- type of request -->
                <label for="type"><b>Type of Request</b></label> <br>
                <input type="radio" name="edit-type" id="Maintenance" value="Maintenance">Maintenance <br>
                <input type="radio" name="edit-type" id="Repair" value="Repair">Repair

                <!-- edit -->
                <button type="submit" class="btn-signup" id="edit-request-btn">Edit Request</button>
                <br>
            </form>
            <hr><hr>
        </div>

        <div class="table">
            <table>
                <caption>Your historical maintenance requests</caption>
                <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Date Requested</th>
                    <th>Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <br>
            <!-- <a id="request-form" class="btn-jump-to" href="#add-request">Create a Maintenance Request </a>    -->
        </div>
    </div>
    
    <footer class="footer">
        <p>Maintenance Tracker © 2018 John Musiu</p>
    </footer>
    
    <script src="../static/js/base.js"></script>
    <script src="../static/js/build/userDashboard.js"></script>

</body>
</html>