html{
    margin-right: 15%;
    margin-left: 15%;    
}

body{
    background-image: url("../images/5394598-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 100px;
    margin-bottom: 40px;
}

footer{
    color: aliceblue;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    bottom: 0px;
    overflow: hidden;
    width: 70%;
    padding: 2px;
}

.content{
    background-color: rgba(3, 3, 3, 0.8);
    color: wheat;
    padding-left: 2.5%;
    padding-right: 2.5%;
    overflow: hidden;
    max-width: 96%;

}
/* navigation bar styling */
.topnav{
    background-color: rgba(3, 3, 3, 0.8);
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 70%; /* 70% of Full width */
}

.right{
    float: right;
    margin-right: 10px;
}

.topnav a{
    display: inline-block;
    margin-left: 10px;
    color: whitesmoke;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.25em;
    border: 1px solid white;
    
}

/* welcome text styling */
.welcome{
    font-style: oblique;
    font-family: fantasy;
    font-size: 2.5em;
    text-align: center;
}

@media screen and (max-width:600px){
    .topnav{
        width: 93%;
        padding: 5px;
    }
    .topnav a{
        font-size: 1em;
    }
    .content{
        margin-top: 20px;
    }
    .footer{
        width: 94%;
    }
    .welcome{
        font-size: 1em;
    }
    body{
        margin-top: 60px;
    }
    html{
        margin: 1px;
    }
}

/* selected link */
.topnav a.active {
    color: tomato;
    background-color: black;
}

/* mouse over link */
.topnav a:hover {
    color: black;
    background-color: tomato;
    text-decoration: none;
}

/* end navigation bar styling */

/* form signup and signin styling */
.signup, .signin{
    border: none;
    color: whitesmoke;
    margin: 2% 0 3% 0;
    
}

/* navbar-icon (bars horizontal icon) hidden by default on large screens */
.topnav .nav-icon{
    display: none;
}
/* make navbar responsive */
@media screen and (max-width: 600px){
    .topnav a:not(:first-child), .right,.right a.active, div.right a {display: none;}

    .topnav a.nav-icon{
        display: block;
        float: right;
        top: 5px;
    }
}

@media screen and (max-width: 600px){
    .topnav.responsive {position: absolute;}
    .topnav.responsive .nav-icon {
        position: absolute;
        right: 5px;
        top:5px;
    }
    .topnav.responsive a, .right a{
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive div.right{display: block;}
    div.topnav.responsive .right{
        float: right;
        margin-right: 0;
        width: 100%;
    }  
}
/* end navigation bar styling */
  
/* slideshow class */
.slideshow{
    position: relative;
}
/* slide class */
.slide{
    color: tomato;
    font-size: 2em;
    display: none;
    text-align: center;
    padding: 20%;
}
@media screen and (max-width:600px){
    .slide{
        font-size: 1em;
        padding: 10%
    }
}
/* previous and next buttons */
.next, .prev{
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: auto;
    margin-top: -30px;
    color: white;
    border-radius: 0 3px 3px 0;
}
/* position next arrow to the right */
.next{
    right: 0;
}
/* change arrow background color on hover */
.next:hover, .prev:hover{
    color: tomato;
}
/* format the dot indicators contaner */
.indicators{
    text-align: center;
}
/* format the dots */
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: beige;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
/* add styling for hover events on dots */
.active, .dot:hover {
    background-color: tomato;
}

/* full width for input fields */
input[type=text], input[type=email], input[type=password], textarea{
    padding: 0.5rem;
    width: 60%;
    margin: 5px 0 22px 20%;
    /* display: block; */
    /* border: none; */
}

input[type=radio]{
    padding: 0.5em;
    margin: 5px 0 22px 30%;
}

label, .btn-signup, form p{
    margin-left: 20%;
}

.btn-signup{
    color: white;
    background-color: #4CAF50; 
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 20%;
    width: 20%;
    display: block;
}

/* Change styles on small screens */
@media screen and (max-width: 600px) {
    label, .btn-signup, form p,
    input[type=text], input[type=email], input[type=password], textarea{
        margin-left: 2px;
        width: 85%
    }
    input[type=radio]{
        margin-left: 2px;
    }
    .signup, .signin{
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10px;
    }
    
  }



/* end form signup and signin styling */

/* add table styling */
.table{
    overflow-x: auto;
}

table{
    background-color: rgba(3, 3, 3, 0.8);
    /* border-spacing: 0; */
    width: 100%;
    border-collapse: collapse;
    border: 1px solid tomato;
    text-align: left;
}
th{
    text-align: center;
    font-size: 1.2em;
    color: beige;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid tomato;
}

tbody{
    font-size: 1em;
}

tbody tr td{
    border: 1px solid tomato;
    padding: 12px 0 12px 2px;

}
tr:nth-child(even){
    background-color:  rgba(100, 100, 100, 0.8);
}

tbody tr:hover{
    background-color: rgba(255, 99, 71, 0.5);
}
/* end tables design styles */

/* request form styles in home-user */
.hide-form{
    display: none;
}

#add-request h3{
    text-align: center;
}

.btn-jump-to{
    color: white;
}

.show-form{
    display: block;
}

#add-request{
    margin-bottom: 2em;
}

div form{
    background-color:  rgba(0, 0, 0, 0.8);
}
/* end request form styles in home-user */

td a{
    color: white;
}

table caption div{
    float: right;
    padding: 5px;
}
td a.reject-adm{
    font-size: 1.2em;
    /* text-align: center; */
    color: red;
}
.archive-adm{
    font-size: 1.2em;
    /* text-align: center; */
    color: yellowgreen;
}
td a.approve-adm{
    font-size: 1.2em;
    /* text-align: center; */
    color: #4CAF50;
}
td.open-icon{
    font-size: 1.6em;
    text-align: center;
}
/* style admin details view row */
.shown{
    color: white;
    /* background-color: white; */
    font-size: 1.5em;
}
.shown:hover{
    background-color: black;
}
.shown p strong{
    color: tomato;
}
/* end details row styling */